@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
          background-color: #F2F1EF;
          font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  padding-top: 27px;
  margin-bottom: 40px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__menu-link {
  font-size: 16px;
  line-height: 24px;
  color: #161513;
  text-decoration: none;
  border-bottom: 1px solid #131416;
  transition: all .15s;
}
.header-nav__menu-link:hover {
  border-bottom: 1px solid transparent;
}

.header-nav__menu-item + .header-nav__menu-item {
  margin-left: 32px;
}

.header__button {
  font-size: 16px;
  line-height: 24px;
  color: #161513;
  text-decoration: none;
  padding: 9px 26px;
  border: 1px solid #161513;
}

.header__burger {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;
  border: none;
  cursor: pointer;
  padding: 7px;
}
.header__burger span {
  position: absolute;
  top: 12.5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transform: translateY(-100%);
  transition: all .35s ease-in-out;
  border-radius: 5px;
}
.header__burger span:nth-child(1) {
  top: 2px;
}
.header__burger span:nth-child(3) {
  top: 24px;
}
.header.open .header-nav__menu {
  left: 0;
}
.header.open body {
  overflow: hidden;
}
.header.open .header__burger span:nth-child(2) {
  display: none;
}
.header.open .header__burger span:nth-child(1),
.header.open .header__burger span:nth-child(3) {
  top: 15px;
}
.header.open .header__burger span:nth-child(1) {
  transform: rotate(45deg);
}
.header.open .header__burger span:nth-child(3) {
  transform: rotate(-45deg);
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.intro__inform {
  max-width: 670px;
}

.intro__inform-title {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.56px;
  color: #161513;
  margin-bottom: 35px;
}

.intro__inform-text {
  font-size: 18px;
  line-height: 24px;
  color: #161513;
  max-width: 540px;
  margin-bottom: 20px;
}
.intro__inform-text span {
  color: #f95133;
}

.intro__inform-subtitle {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.48px;
  color: #161513;
  margin-bottom: 40px;
  text-transform: uppercase;
}


.intro__inform-button {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.intro__inform-button_black {
  padding: 13px 32px;
  background: #161513;
  border: 1px solid #161513;
  color: #fff;
  text-decoration: none;
}

.intro__inform-button_white {
  padding: 13px 33px;
  border: 1px solid #161513;
  text-decoration: none;
  color: #161513;
}

.intro__img img {
  border-radius: 50%;
}

.intro__banner {
  margin-bottom: 120px;
  overflow: hidden;
  -webkit-transform: rotate(-4.93deg);
          transform: rotate(-4.93deg);
  background: #161513;
  padding: 10px 0 15px 20px;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.intro__banner img {
  margin-right: 67px;
}

.intro__banner span {
  margin-right: 5px;
  text-transform: uppercase;
}


.awards {
  margin-bottom: 120px;
}

.awards .container {
  padding: 0 110px;
}

.awards__img {
  text-align: center;
  margin-bottom: 22px;
}

.awards__title {
  font-size: 45px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1.44px;
  color: #161513;
  margin-bottom: 15px;
}

.awards__subtitle {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #161513;
  margin-bottom: 60px;
}

.awards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.awards__item {
  padding: 37px 34px;
  border: 2px solid #161513;
  margin-bottom: 24px;
}

.awards__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awards__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.awards-left__num {
  margin-right: 24px;
  padding: 8px 20px;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  background: #E94D35;
}

.awards-left__inform-title {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.48px;
  color: #d03d23;
}
.awards-left__inform-subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #161513;
}
.awards-left__inform-subtitle--block {
  display: block;
  margin-bottom: 15px;
}
.awards-left__inform-link {
  font-size: 20px;
  line-height: 24px;
  color: #161513;
}

.program {
  margin-bottom: 120px;
}

.program__box {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.program__box-img {
  width: 60%;
  border: 2px solid #161513;
}
.program__button {
  text-align: center;
}
.program__link {
  padding: 13px 32px;
  background: #161513;
  border: 1px solid #161513;
  color: #fff;
  text-decoration: none;
}

.price {
  margin-bottom: 120px;
}
.price__text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  color: #161513;
}
.price__text span {
  color: #f95133;
}
.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item {
  height: 180px;
  padding: 23px 72px;
  border: 2px solid #332F29;
  text-align: center;
}
.about__item-old {
  font-size: 30px;
  text-decoration:line-through;
  color: #d03d23;
}
.about__item-title {
  font-size: 50px;
  line-height: 64px;
  color: #161513;
  margin-bottom: 11px;
}

.about__item-subtitle {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #161513;
}

.about__item_black {
  background: #161513;
}

.about__item_black .about__item-title {
  color: #FFFFFF;
}

.about__item_black .about__item-subtitle {
  color: #FFFFFF;
}

.contacts {
  padding: 60px 0;
  background: #E6E3DE;
}

.contacts .container {
  padding: 0 110px;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contacts__left-title {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.48px;
  color: #161513;
}


.contacts__right-input ::-webkit-input-placeholder {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.48px;
  color: #161513;
}

.contacts__right-button {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  padding: 12px 15px;
  background: #131416;
  border: none;
  text-decoration: none;
}

.footer {
  background: #161513;
  padding: 66px 0 25px;
}

.footer-top {
  margin-bottom: 48px;
}

.footer-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__list-item + .footer-top__list-item {
  margin-left: 46px;
}

.footer-top__list-link {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}


.footer-bottom__copy {
  font-size: 14px;
  line-height: 24px;
  color: #F2F1EF;
}

.opening {
  padding-bottom: 20px;
}
.opening__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.opening__info-img {
  width: 35%;
}
.opening__info {
  max-width: 600px;
}
.opening__info-title {
  font-size: 30px;
  margin-bottom: 30px;
}
.opening__info-descr {
  max-width: 450px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}
.opening__info-descr span {
  color: #d03d23;
}
.opening__info-descr--last {
  margin-bottom: 40px;
}
.button__black,
.button__white {
  transition: all .25s;
}
.button__black {
  border: 1px solid transparent;
}
.button__white:hover {
  background: #161513;
  color: #fff;
}
.button__black:hover {
  background: transparent;
  color: #161513;
  border: 1px solid #161513;
}

.program {
  padding-bottom: 30px;
}
.program__title {
  background-color: #131313;
  color: #eee;
  padding: 5px;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 50px;
}
.program__title::before {
  content: 'C:/Users/mentoring/curriculum/   ';
  font-family: monospace;
  color: #c2bbbb;
  font-size: 14px;
}
.program__title span {
  display: block;
}

.program__table {
  max-width: 880px;
  margin: 0 auto;
}
.program__table-title {
  background-color: #131313;
  color: #eee;
  padding: 3px;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 20px;
}
.program__table-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(195, 190, 190, .2);
}
.program__table-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  max-width: 300px;
}
.program__table-subtitle--orange {
  color: #f95133;
  display: block;
  font-size: 15px;
}
.program__table-descr {
  font-size: 16px;
  line-height: 130%;
  max-width: 450px;
  text-align: right;
}
.program__table-title--block {
  display: block;
  font-size: 16px;
  line-height: 21px;
}
.program__table-descr--block {
  display: block;
}
.program__table-wrapper--last {
  margin-bottom: 80px;
}
.program__wrapper {
  display: flex;
  justify-content: space-between;
}
.program__wp {
  max-width: 500px;
  text-align-last: left;
}
.program__js {
  max-width: 500px;
  text-align: right;
}
.program__table-list {
  padding: 0 10px;
}
.program__list-item {
  font-size: 18px;
  margin-bottom: 18px;
}
.registration {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.registration__button {
  padding: 20px 30px;
    font-size: 21px;
    letter-spacing: 170%;
    background-color: #161513;
    /* background-color: rgba(249, 81, 51, 1); */
    filter: blur(.5px);
    filter: drop-shadow(4px 4px 5px #161513);
    margin-bottom: 40px;
    text-decoration: none;
    color: #F2F1EF;
    transition: all .3s;
    display: inline-block;
    margin-bottom: 25px;
/*     display: flex;
    justify-content: center; */
}
.registration__button:hover {
  filter: none;
}
.registration__subbutton {
  text-align: center;
  font-size: 20px;
}
.reviews {
  padding-bottom: 80px;
}
.reviews__title {
  margin-bottom: 40px;
}
.reviews__slider {
  max-width: 1000px;
}
.reviews__slider img {
  width: 99%;
}
.reviews__item {
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}
.reviews__slider-wrapper {
  padding-bottom: 22px;
}
.swiper-pagination-bullet-active {
  background-color: #E94D35;
}
video {
  width: 100%;
  height: auto;
  max-height: 100%;
}